<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
#_DialogTable_0 table {
	background-color: #fff;
}

.buttonStyle {
	width: 64px;
	height: 22px;
	line-height: 22px;
	color: #369;
	text-align: center;
	background: url(__PUBLIC__/static/zDialog/images/buticon.gif) no-repeat
		left top;
	border: 0;
	font-size: 12px;
}
select::-ms-expand {
	display: none;
}
</style>
<script>
	var _htmlHeight = document.documentElement ? document.documentElement.clientHeight
			: document.body.clientHeight;
	var _htmlWidth = document.documentElement ? document.documentElement.clientWidth
			: document.body.clientWidth;

	/**
	 * 函数节流运行 throttle
	 */
	function throttle(fn, context, delay, text, mustApplyTime) {
		clearTimeout(fn.timer);
		fn._cur = Date.now(); //记录当前时间
		if (!fn._start) { //若该函数是第一次调用，则直接设置_start,即开始时间，为_cur，即此刻的时间
			fn._start = fn._cur;
		}
		if (fn._cur - fn._start > mustApplyTime) { //当前时间与上一次函数被执行的时间作差，与mustApplyTime比较，若大于，则必须执行一次函数，若小于，则重新设置计时器
			fn.call(context, text);
			fn._start = fn._cur;
		} else {
			fn.timer = setTimeout(function() {
				fn.call(context, text);
			}, delay);
		}
	}
</script>
<link rel="STYLESHEET" type="text/css" href="__PUBLIC__/static/codebase/dhtmlx_skyblue.css">
<script src="__PUBLIC__/static/codebase/dhtmlx.js"></script>
<link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
<script src="__PUBLIC__/static/jq/j.js"></script>
<script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
<script>
	if (!document.addEventListener) {
		document.write('<script src="__PUBLIC__/static/jq/respond.js"><\/script>');
		document.write('<script src="__PUBLIC__/static/jq/ieBetter.js"><\/script>');
	}
	window.console = window.console || (function(){ 
		var c = {}; c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile 
		= c.clear = c.exception = c.trace = c.assert = function(){}; 
		return c; 
	})();
	if(!Date.now){  
	    Date.now = function(){  
	        return new Date().valueOf();  
	    }  
	} 
	if(!String.prototype.trim){
		String.prototype.trim = function(){  
		    return this.replace(/(^\s*)(\s*$)/g, "");  
		};
	}
	if (!Array.prototype.indexOf) {
		Array.prototype.indexOf = function(elt /*, from*/) {
			var len = this.length >>> 0;
			var from = Number(arguments[1]) || 0;
			from = (from < 0) ? Math.ceil(from) : Math.floor(from);
			if (from < 0)
				from += len;

			for (; from < len; from++) {
				if (from in this && this[from] === elt)
					return from;
			}
			return -1;
		};
	} 
	$(function() {
		var _resize_page = function() {
			_htmlHeight = document.documentElement ? document.documentElement.clientHeight
					: document.body.clientHeight;
			if (_htmlHeight < 400) {
				_htmlHeight = 400;
				//alert("窗口过小，或显示不全，建议调整窗口大小。");
			}
			_htmlWidth = document.documentElement ? document.documentElement.clientWidth
					: document.body.clientWidth;
		};
		$(window).resize(function(event) {
			throttle(_resize_page, null, 500, null, 1000);//函数节流、在common.html 
			//_resize_page();
		});

		/*$(".leftmenu ul li[class='disabled']").on("click", function() {
			return false;
		});*/
	});
	
</script>
<title>{$title|default="欢迎使用"}-公务车管理系统-tlydgs</title>